<a href="https://colab.research.google.com/github/oarthurcarvalho/100DaysofCode/blob/main/Analisando_os_Dados_do_Airbnb_no_Rio_de_Janeiro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1. Obtendo os Dados

In [15]:
import pandas as pd

In [16]:
df = pd.read_csv('http://data.insideairbnb.com/brazil/rj/rio-de-janeiro/2021-12-24/visualisations/listings.csv')

## 2. Análise de Dados

1. id - Número de id gerado para identificar o imóvel
2. name - Nome da propriedade
3. host_id - Número de id do proprietário (anfitrião) da propriedade
4. host_name - Nome do Anfitrião
5. neighbourhood_group - Não contém nenhum valor válido
6. neighbourhood - nome do bairro
7. latitude - coordenada da latitude da propriedade
8. longitude - coordenada da longitude da propriedade 
9. room_type - informa o tipo de quarto que é oferecido
10. price - preço para alugar o imóvel
11. minimum_nights - quantidade mínima de noites para reservar
12. number_of_reviews - número de reviews que a propriedade possui
13. last_review - data do último review
14. reviews_per_month - quantidade de reviews por mês
15. calculated_host_listings_count - quantidade de imóveis do mesmo anfitrião
16. availability_365 - número de dias de disponibilidade dentro de 365 dias
17. number_of_reviews_ltm - O número de reviews que a propriedade teve nos últimos 12 meses.
18. license - A licensaThe licence/permit/registration number

In [17]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,17878,"Very Nice 2Br in Copacabana w. balcony, fast WiFi",68997,Matthias,NaN,Copacabana,-22.96599,-43.17940,Entire home/apt,350,5,267,2021-12-03,1.92,1,257,10,NaN
1,24480,"Nice and cozy near Ipanema Beach, w/ home office",99249,Goya,NaN,Ipanema,-22.98405,-43.20189,Entire home/apt,296,3,85,2018-02-14,0.62,1,107,0,NaN
2,25026,Beautiful Modern Decorated Studio in Copa,102840,Viviane,NaN,Copacabana,-22.97735,-43.19105,Entire home/apt,387,3,238,2020-02-15,1.69,1,206,0,NaN
3,35636,Cosy flat close to Ipanema beach,153232,Patricia,NaN,Ipanema,-22.98839,-43.19232,Entire home/apt,172,2,181,2020-03-15,1.82,1,207,0,NaN
4,35764,COPACABANA SEA BREEZE - RIO - 20 X Superhost,153691,Patricia Miranda & Paulo,NaN,Copacabana,-22.98107,-43.19136,Entire home/apt,260,3,378,2021-12-05,2.76,1,58,32,NaN

### 1.3 Hipóteses

#### **Q1. Quantos atributos (variáveis) e quantas entradas o nosso conjunto de dados possui? Quais os tipos das variáveis?**

In [19]:
print('Número de linhas = ', df.shape[0])
print('Número de colunas = ', df.shape[1])

Número de linhas =  24549
Número de colunas =  18

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24549 entries, 0 to 24548
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              24549 non-null  int64
 1   name                            24528 non-null  object
 2   host_id                         24549 non-null  int64
 3   host_name                       24534 non-null  object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   24549 non-null  object
 6   latitude                        24549 non-null  float64
 7   longitude                       24549 non-null  float64
 8   room_type                       24549 non-null  object
 9   price                           24549 non-null  int64
 10  minimum_nights                  24549 non-null  int64
 11  number_of_reviews               24549 non-null  int64
 12  last_review                     15588 non-null  object
 13  reviews_per_month               15588 non-null  float64
 14  calculated_host_listings_count  24549 non-null  int64
 15  availability_365                24549 non-null  int64
 16  number_of_reviews_ltm           24549 non-null  int64
 17  license                         0 non-null      float64
dtypes: float64(5), int64(8), object(5)
memory usage: 3.4+ MB

#### **Q2. Qual a porcentagem de valores ausentes no dataset?**

#### **Q3. Qual o tipo de distribuição das variáveis?**

#### **Q4. Qual a média dos preços de aluguel?**

#### **Q5. Qual a correlação existente entre as variáveis?**

#### **Q6. Qual a localidade mais cara do dataset?**

#### **Q7. Qual é a média do mínimo de noites para aluguel (minimum_nights)?**